.modal {
    width: 50% !important;
    height: auto !important;
    margin: 5% !important;
    left: 20% !important;
    top: 5% !important;
  }
  
  .modal-dialog{
    /* height: auto !important; */
    margin: 0% !important;
    max-width: 100% !important;
    width: auto !important;
  }
  
  .modal-lg{
    max-width: 50% !important;
  }
  .modal-body{
    max-height: 720px !important;
    height: auto !important;
  }
  .modal-content{
    height: auto !important;
  }
  