.content-wrapper {
    width: 100%;
  }

  .branding{
    font-size: 37px;
    color: white;
  }

  .navbar{
    padding: 0px;
  }

  .container-fluid{
    background: linear-gradient(to top, #000046, #1d6f86ed);
  }